.download-page{
    .search-warning {
        top: 30px;
        left: 40%;
        width: 100%;
        height: 20px;
        position: relative;
        color: red;
    }
    .downloadpage-searchcontainer {
        width: 60%;
        position: relative;
        top: 15px;
        height: 50px;
        left: 20%;
        border: solid thin #425794;
        // box-shadow: 0px 0px 5px 0px #4257945e;
        .date-header {
            float: left;
            margin: 12px 0px 0px 20px;
            
        }
        .date-details {
            border: solid thin;
            position: relative;
            width: 250px;
            height: 30px;
            float: left;
            margin: 9px 0px 0px 10px;
            text-align: left;
            font-size: large;
            font-style: italic;
            z-index: 99;
            .date-value {
                margin: 3px 0px 0px 10px;
                color: #425794;
            }
            .date-icon {
                float: right;
                margin: 5px;
                // font-size: larger;
                color: gray;
            }
           
        }
        .date-picker {
            position: absolute;
            background-color: white;
            width: fit-content;
            top: 48px;
            float: left;
            border-radius: 10px;
            border: solid thin;
            z-index: 999;
            left: 100px;
        
        }
        .date-range-selection {
            position: relative;
            top: 15px;
            left: 10px;
            font-weight: 500;
            margin-right: 25px;
            span{
                position: relative;
                top: -1px;
                left: 3px;
            }
        }
        .button-search {
            float: right;
            margin: 10px;
            width: 100px;
            position: relative;
            border-color: #f5f6f6;
            .search-icon {
                margin: 2px -3px 0px 1px;
                // font-weight: 900;
                float: left;
                font-size: 15px;
            }
        }
        .date-warning-message {
            color: red;
            position: relative;
            left: 10px;
            top: 15px;
            font-weight: 600;
        }
    }
    .datagrid-container-1 {
        position: relative;
        top: 50px;
        // z-index: -9;
        .react-grid-Container {
            width: 1260px !important;
            position: relative;
            left: 10%;
        }
        .grid-header-name {
            position: relative;
            margin-left: 100px;
            margin-bottom: 10px;
            right: 20px;
            bottom: 10px;
            .button-download{
                float: right;
                position: relative;
                right: 100px;
                background-color: #337ecf;
                border-color: #ffffff;
                color: #fff;
            }
            h4{
                float: left;
            }
        }
        .charview-button {
            float: right;
            position: relative;
            right: 85px;
            width: 100px;
            height: 27px;
            padding: 0px;
            background-color: #337ecf;
            border-color: #ffffff;
            color: #fff;
        }
        .fa, .fas {
            margin-right: 10px;
        }
    }
    .datagrid-container-2 {
        position: relative;
        top: 90px;
        // z-index: -9;
        .react-grid-Container {
            width: 1260px !important;
            position: relative;
            left: 10%;
        }
        .grid-header-name {
            margin-left: 75px;
            margin-bottom: 10px;
            h4{
                float: left;
                margin-bottom: 20px;
            }
        }
    }
    .spinner-backround {
        position: absolute;
        width: 100%;
        height: 136%;
        background-color: #d3d3d3;
        top: 11%;
        z-index: 99;
        opacity: 0.5;
    }
    .in-house-spinner {
        position: absolute;
        z-index: 99999;
        left: 47%;
        top: 35%;
    }
    .modal-dialog {
        top: 20px;
        .modal-body {
            padding: 0px;
            height: 220px;
            .piechart-view {
                // height: 100%;
                position: relative;
                // left: 35px;
                // width: 100%;
                .chart-pie {
                    float: left;
                    height: 100%;
                    width: 50%;
                    left: 15px;
                    position: relative;
                    bottom: 0px;
                }
                .chart-legend {
                    position: absolute;
                    width: 100%;
                }
                .no-data-label {
                    position: relative;
                    top: 100px;
                    left: 123px;
                }
            }
        } 
        .mb-footer {
            margin-top: 20px;
        } 
    }
    .download-options {
        position: relative;
        top: 40px;
        left: 37%;
        width: 390px;
        label {
            margin-bottom: 0;
        }
        .btn {
            border: none;
            background-color: #ffffff;
        }
        .active {
            background-color: #dadada;
        }
    }
}
@media print and (orientation: landscape) {
    /* landscape styles */
    /* write specific styles for landscape e.g */
    @page {size: landscape;}
    .chart-pie {
        float: left;
        height: 100%;
        width: 50%;
        left: 15px;
        position: relative;
    }
    .chart-legend {
        position: absolute;
        width: 100%;
        height: 600px;
        top: 30%;
        border-bottom: "1px solid";
    }
//       .no-print { display: none; }
   }


   //Styling works only for react-to-print library
@media print and (orientation: portrait) {
    /* portrait styles */
    // .no-print { display: none; }
    .chart-pie {
        float: left;
        height: 100%;
        width: 50%;
        left: 15px;
        position: relative;
    }
    .chart-legend {
        position: absolute;
        width: 100%;
        height: 600px;
        top: 30%;
        border-bottom: "1px solid";
    }
}