.in-house-container {
    .nav-title {
        position: relative;
        width: 100%;
        height: 50px;
        .nav-title-text {
            position: relative;
            top: 15px;
            left: 50px;
            color: #425794;
        }
    }
    .spinner-backround {
        position: absolute;
        width: 100%;
        height: 150%;
        background-color: #d3d3d3;
        top: 13%;
        z-index: 99;
        opacity: 0.5;
    }
    .in-house-spinner {
        position: absolute;
        z-index: 99999;
        left: 50%;
        top: 35%;
    }
    .buttons {
        margin: 10px;
    }
    .react-autocomplete-Autocomplete__results {
        min-width: 170px;
        max-height: 100px;
    }
    .glyphicon {
        margin-right: 3px;
    }
}
